<div class="container mx-auto">
    <h3 class="mb-4" style="text-align: center; color: blue;">User Registration</h3>
    <form>
        <div class="mb-3">
            <label for="exampleInputUserName" class="form-label">User Name</label>
            <input type="username" class="form-control" id="username" aria-describedby="username" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm password">
        </div>
        <button type="submit" class="btn btn-primary me-2" (click)="register()">Submit</button>
        <button type="submit" class="btn btn-primary mx-2" (click)="login()">Login</button>
        <!-- <p><a href="/login" class="link-underline-primary">Login</a></p> -->
    </form>
</div>