<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Date of Dues</th>
                <th class="totalFine">Total Fine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of checkout">
                <td></td>
                <td></td>
                <td></td>
                <td class="opertion">
                </td>
            </tr>
        </tbody>
    </table>
</div>