<div class="container" style="width: 60%;">
    <h1 style="text-align: center; color: blue;">User Login!</h1>
    <form class="form-horizontal">
        <div class="mb-3">
            <label for="exampleInputUserName" class="form-label">User Name</label>
            <input type="username" class="form-control" id="username" aria-describedby="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary" (click)="saveUser()">Sign in</button>

    </form>
</div>