<div class="container">
    <h1 style="text-align: center;">Books List!</h1>
    <div class="serachbar">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        ngModel="searchText">
                    <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th class="opertion">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books" class="text-center">
                <td>{{book.bookid}}</td>
                <td>{{book.author}}</td>
                <td>{{book.booktitle}}</td>
                <td class="opertion"><button class="btn btn-danger m-2" (click)="delete()">Remove</button>
                    <button class="btn btn-danger m-2" (click)="add()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>